<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi página web</title>
</head>
<body>
<h1>Esto es {{ index_variable }} con {{myvar}}</h1>

</Adding image to the webpage/>
<img src="{{ image }}" alt="" />
    <p>
        En esta clase, vamos a aprender a crear una app de Flask usando plantillas. Usé la función render template del módulo de Flask
    </p>
    <p>
        Vamos a la página web.
    </p>
</body>
</html>